

     <div class="p-farm-spirit">
       <div class="p-farm-spirit__inner">
         <div class="p-farm-spirit__top">
          <img class="p-farm-mission-mistletoe1 sway" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/a-project_mi.png?v=1655304348" alt="p-farm-mission-mistletoe1">
          <h2 class="p-farm-spirit__title p-farm-kv__title--en">OUR <br class="p-farm-spOnly">FARM SPIRIT</h2>
          <p class="p-farm-spirit__compliment c-compliment">ミッション・ビジョン・バリューについて</p>
         </div>

          <div class="p-farm-spirit__mission">
            <img class="p-farm-pcOnly p-farm-pcbg2" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pcbg2.png?v=1655527829" alt="p-farm-pcbg2">
             {{ 'p-farm-spbg2.png' | file_img_url : 'master' | img_tag: 'p-farm-spbg3' , 'p-farm-spbg2 p-farm-spOnly' }}
            <div class="p-farm-spirit__list">
                <div class="p-farm-spirit__left">
                  
                  <img class="p-farm-mission-human1" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/project-human2.png?v=1654864018" alt="p-farm-mission-human1">
                  <img class="p-farm-mission-mistletoe2 sway-s-after effect-scroll" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/a-project_mi.png?v=1655304348" alt="p-farm-mission-mistletoe2">
                  <img class="p-farm-mission-human2" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/project-human1.png?v=1654864018" alt="p-farm-mission-human2">
<!--                   <img class="p-farm-mission-image1" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pc-image1.png?v=1655528069" alt="p-farm-mission-image1"> -->
                  <img class="p-farm-mission-image1" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pc-image01.png?v=1658208625" alt="p-farm-mission-image1">
                </div>
                <div class="p-farm-spirit__right">
                  <div class="p-farm-spirit__right--wrapper">
                    <h2 class="p-farm-spirit__list--title">MISSION</h2>
                    <p class="p-farm-spirit__list--text">日々果たすべき使命</p>
                  </div>
                  <p class="p-farm-mission__compliment c-compliment">
                    日々北海道農業を活力あるものにするため､<br>
                    ｢協創の力で北海道農業の価値を<br class="p-farm-spOnly">最大化｣します｡
                  </p>
                  <p class="p-farm-mission__description c-farm-description">
                    ともに力を合わせて創造すること､地域に眠っている小さな未来の種をみつけ協創することにより､6次化の枠に捉われない北海道農業の価値を最大化し北海道の元気につながる未来の花を咲かせます｡
                  </p>
                </div>
            </div>
         </div>

         <div class="p-farm-spirit__mission">
          <img class="p-farm-pcbg3 p-farm-pcOnly" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-vision-pcbg.png?v=1655551832" alt="p-farm-pcbg2">
            {{ 'p-farm-spbg4.png' | file_img_url : 'master' | img_tag: 'p-farm-spbg4' , 'p-farm-spbg4 p-farm-spOnly' }}
          <div class="p-farm-spirit__list p-farm-spirit__list2">
                <div class="p-farm-spirit__left">
                  <img class="p-farm-vision-mistletoe sway-s-after effect-scroll" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/a-project_mi.png?v=1655304348" alt="p-farm-vision-mistletoe">
                  <img class="p-farm-vision-human" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/feature-collection-glass.png?v=1655279641" alt="p-farm-vision-human">
<!--                   <img class="p-farm-vision-image2" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pc-image2.png?v=1655528069" alt="p-farm-vision-image2"> -->
                   <img class="p-farm-vision-image2" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pc-image02.png?v=1658208673" alt="p-farm-vision-image2">
                </div>
                <div class="p-farm-spirit__right p-farm-vision__right">
                  <div class="p-farm-spirit__right--wrapper p-farm-spirit__left--wrapper">
                    <h2 class="p-farm-spirit__list--title">VISION</h2>
                    <p class="p-farm-spirit__list--text">実現したい未来</p>
                  </div>
                  <p class="p-farm-vision__compliment c-compliment">
                    北海道農業の｢新しいスタンダード｣を創り続け､<br class="p-farm-pcOnly">
                    世界に発信します｡
                  </p>
                  <p class="p-farm-vision__description c-farm-description">
                    北海道の食•地域の価値を軸に新しい需要を生み出す社会を実現する。今もつノウハウを余すことなく発揮することで北海道農業のあり方を未来ある形に再構築し､日本から世界へ届けます。
                  </p>
                </div>
           </div>
       </div>

         <div class="p-farm-spirit__mission">
          <img class="p-farm-pcbg4 p-farm-pcOnly" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pcbg3.png?v=1655527829" alt="p-farm-pcbg4">
            {{ 'p-farm-spbg3.png' | file_img_url : 'master' | img_tag: 'p-farm-spbg3' , 'p-farm-spbg3 p-farm-spOnly' }}
            <div class="p-farm-spirit__list p-farm-spirit__list3">
                <div class="p-farm-spirit__left">
                  <img class="p-farm-value-human" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/a-project_human.png?v=1655304348" alt="p-farm-value-human">
                  <img class="p-farm-value-mistletoe sway-s-after effect-scroll" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/a-project_mi.png?v=1655304348" alt="p-farm-value-mistletoe">
<!--                   <img class="p-farm-value-image" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-value.png?v=1655642113" alt="p-farm-value-image"> -->
                  <img class="p-farm-value-image" src="https://cdn.shopify.com/s/files/1/0618/8282/6930/files/p-farm-pc-image03.png?v=1658208720" alt="p-farm-value-image">
                </div>
                <div class="p-farm-spirit__right">
                  <div class="p-farm-spirit__right--wrapper p-farm-value__right--wrapper">
                    <h2 class="p-farm-spirit__list--title">VALUE</h2>
                    <p class="p-farm-spirit__list--text">約束する価値・強み</p>
                  </div>
                  <p class="p-farm-mission__compliment c-compliment">
                    ｢北海道農業を活力あるものにするため､<br>
                    ｢協創の力で北海道農業の価値を<br class="p-farm-spOnly"> 最大化｣します｡
                  </p>
                  <p class="p-farm-mission__description c-farm-description">
                    生産者や学生､農村や都市などの立場や地理的に関係なく利用できる｢コンテンツの共有」と｢表現の場｣となるプラットフォームを構築し､各地域の仲間たちと｢みつける｣｢つなげる｣｢もりあげる｣ことで北海道の活性化につなげます｡
                  </p>
                </div>
           </div>
       </div>

 
       </div>
     </div>

{% schema %}
  {
    "name": "farm-spirit",
    "settings": [
	],
	"presets": [
      {
        "name": "farm-spirit"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
