<section class="story-map story-company">
  <div class="story-map__inner">
    <div class="p-story__mistletoe">
        {{ 'topics-mistletoe.png' | file_img_url : 'master' | img_tag: 'topics-mistletoe','sway-s-after' }}               
    </div>
    <h3>COMPANY</h3>
    <h3 class="h3-ja">プラットフォーム 概要</h3>
    <div class="c-table-wrap">
      <table>
        <tr>
          <th>名称</th>
          <td>HOKKAIDO FARM STORY</td>
        </tr>
        <tr>
          <th>運営会社</th>
          <td>石屋製菓株式会社</td>
        </tr>
        <tr>
          <th>お問い合わせ</th>
          <td><a href="mailto:150farm-info＠ishiya.co.jp">150farm-info＠ishiya.co.jp</a></td>
        </tr>
      </table>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "COMPANY",
    "settings": [],
	"presets": [
      {
        "name": "COMPANY"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
